.container {
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    letter-spacing: 0.3px;
    line-height: 30px;
    .img {
        width: 300px;
        img {
            border: 1px solid lightgray;
            border-radius: 10px;
        }
    }
    .imgdata{
        padding-left: 10px;
        h1 {
            font-size: 22px;
            margin-top: 0px;
            margin-bottom: 5px;
        }
        .second, .third,{
            font-size: 20px;
        }
        .forth {
            font-size: 18px;
        }
        .btndata {
            background-color: #e51c1c;
            color: white;
            font-size: 20px;
            border: 0px;
            padding: 10px 20px;
            border-radius: 20px;
        }
    }
}