$pad : 25%;
$red : #e51c1c;
$pzero : 0%;

.foot-div {
    color: white;
    padding-bottom: $pzero;
    font-size: 15px;
    line-height: 1.5em;
    word-spacing: 3px;
    // letter-spacing: 0.5px;

    .main-foot {
        padding: 10px;
        // padding-left: $pad;
        // padding-right: $pad;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 1em;
        row-gap: 2em;
        .foot1 {
            width: 300px;
            .font {
                font-size: 28px;
            }
            span {
                text-align: left;
            }
            a {
                padding: 5px 10px;
                padding-left: $pzero;
                text-decoration: none;
                color: white;   
            }
            b {
                padding: 20px;
                padding-left: 0px;
                margin-bottom: 2em;
            }
        }
        .foot2 {
            width: 200px;
            a {
                padding: 5px 10px;
                padding-left: $pzero;
                text-decoration: none;
                color: white;   
            }
        }
        .foot3 {
            width: 300px;
        }    
        
    }
    .foot4 {
        padding: 20px;
        background-color: $red;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        bottom: $pzero;    
        .one {   
            width: 450px;
        }
        .two {
            width: 450px;
            a {
                color: white;
                
            }
        }
    }
}
