@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet');
.main-head .btn-danger {
  background-color: #e51c1c !important;
}

.main-head .bg-danger {
  background-color: #e51c1c !important;
}

.main-head .hamburger {
  display: none;
}

.main-head .ham-class {
  display: none;
  position: absolute;
}

.main-head .city-show {
  display: block;
}

.main-head .city-hide {
  display: none;
}

.main-head .select-city {
  padding: 20px;
  width: 800px;
  border-radius: 10px;
  color: black;
  text-align: center;
  background-color: white;
  position: absolute;
  z-index: 1;
  margin-left: 100px;
  margin-top: 10px;
}

.main-head .select-city .close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.main-head .select-city .search-icon {
  position: absolute;
  z-index: 2;
  margin-top: 10px;
  margin-left: 10px;
  color: gray;
  font-size: 22px;
}

.main-head .select-city .search-input {
  position: relative;
  padding: 15px;
  padding-left: 35px;
  width: 90%;
  border-radius: 10px;
  font-size: 15px;
  border: 0.5px solid gray;
}

.main-head .select-city .bgred {
  background-color: #e51c1c;
  padding: 0px 40px 0px 40px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-head .select-city .bgred .bgflex {
  width: 100px;
  padding: 20px 10px 10px 10px;
}

.main-head .select-city .bgred .bgflex .done {
  padding: 1px 3px;
  background-color: #ff9d00;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  top: 162px;
  margin-left: 67px;
}

.main-head .select-city .bgred .bgflex .city-icon {
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 36px;
  border: 1px solid #444343;
  color: #444343;
}

.main-head .select-city .bgred .bgflex .city-name {
  font-size: small;
  color: white;
  line-height: normal !important;
  padding-top: 5px;
}

.main-head .select-city .bgred .bgflex .show-done {
  display: block;
}

.main-head .select-city .bgred .bgflex .hide-done {
  display: none;
}

.main-head .select-city .bgred .bgflex:hover {
  opacity: 0.8;
}

.main-head .select-city .bgred .bgflex:nth-child(2n) {
  background-color: #c96a6a;
}

.main-head .select-city .cities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
}

.main-head .select-city .cities span {
  width: 25%;
  text-align: left;
}

.main-head .login-div {
  z-index: 1;
  position: absolute;
  width: 850px;
  height: 400px;
  display: none !important;
  border-radius: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 35px;
  margin-left: -500px;
}

.main-head .loginbtn:focus + .login-div {
  display: block !important;
}

.main-head .search-btn {
  position: absolute;
  margin: -50px;
  margin-top: 1px;
  padding: 14px;
  background-color: #e51c1c;
  border-radius: 0px 15px 15px 0px;
  font-size: larger;
  color: white;
}

@media only screen and (max-width: 1200px) {
  .main-head {
    width: 900px;
  }
  .select-city {
    width: 600px !important;
  }
}

@media only screen and (max-width: 800px) {
  .main-head {
    max-width: 600px;
  }
  .ham-class {
    top: 70px !important;
    width: 300px;
  }
  .ham-class .btn1 {
    display: block !important;
    background-color: #ffa200;
    border-radius: 20px;
    border: 1px solid black;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    color: white;
  }
  .select-city {
    width: 300px !important;
    margin-left: -50px;
  }
  .head3 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 500px) {
  .main-head {
    padding: 10px !important;
    max-width: 500px;
  }
  .search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.5em;
  }
  .ham-class {
    width: 300px !important;
  }
}
/*# sourceMappingURL=header.css.map */