.main-div {
  background-color: white;
}

.main-div .sort-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  font-size: 16px;
  -webkit-box-shadow: 5px 5px 10px #e7e4e4;
          box-shadow: 5px 5px 10px #e7e4e4;
  background-color: white;
  text-align: right;
}

.main-div .sort-div .filter {
  max-width: 400px;
  display: none !important;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: white;
  text-align: left;
}

.main-div .sort-div .sort {
  width: 900px;
}

.main-div .sort-div .sort .sort-icon {
  margin-top: 5px !important;
  cursor: pointer;
}

.main-div .sort-div .sort .sort-dropdown {
  display: none;
}

.main-div .sort-div .sort .sort-icon:focus + .sort-dropdown {
  display: block;
}

.main-div .sidenav {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

.main-div .sidenav .filt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -35px;
  font-size: larger;
  padding: 5px 20px;
}

.main-div .sidenav .filt .name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #c10303;
}

.main-div .sidenav .filt .closebtn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 5px;
  text-align: end;
  font-size: larger;
}

.main-div .sidenav .card1 {
  padding: 20px;
}

.main-div .sidenav .card1 .card-first, .main-div .sidenav .card1 .card-third {
  background-color: #f6f2f2;
  border-radius: 10px;
  border: 1px solid #cac0c0;
}

.main-div .sidenav .card1 .card-first .card-title, .main-div .sidenav .card1 .card-third .card-title {
  font-size: large;
  padding-left: 10px !important;
  margin: 10px;
}

.main-div .sidenav .card1 .card-first .card-below2, .main-div .sidenav .card1 .card-third .card-below2 {
  padding-left: 10px;
  background-color: white;
  border-top: 1px solid #cac0c0;
  border-radius: 0px 0px 10px 10px;
}

.main-div .main-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5em;
}

.main-div .main-sec .card1 {
  width: 280px;
}

.main-div .main-sec .card1 .card-first {
  background-color: #f6f2f2;
  border-radius: 10px;
  border: 1px solid #cac0c0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-div .main-sec .card1 .card-first .card-title {
  font-size: large;
  padding-left: 10px;
  margin: 10px;
}

.main-div .main-sec .card1 .card-first .card-below2 {
  background-color: white;
  border-top: 1px solid #cac0c0;
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
  line-height: 2em;
  color: #6f6b6b;
}

.main-div .main-sec .card1 .card-first .card-below2 .dwn {
  margin-top: 0px;
  background-color: white;
  border: 0px;
  float: right;
}

.main-div .main-sec .aside {
  width: 750px;
}

.main-div .main-sec .aside a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 24px;
}

.main-div .main-sec .aside .body-navbar {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  text-align: center;
  width: 100% !important;
}

.main-div .main-sec .aside .body-navbar .a1 {
  border-radius: 10px 0px 0px 10px;
  border: 1px solid lightgray;
  padding: 15px;
  width: 50%;
}

.main-div .main-sec .aside .body-navbar .a2 {
  border-radius: 0px 10px 10px 0px;
  border: 1px solid lightgray;
  padding: 15px;
  width: 50%;
}

.main-div .main-sec .aside .body-navbar .active {
  background-color: #ff9d00;
}

@media only screen and (max-width: 1200px) {
  .main-sec .card1 {
    width: 250px !important;
  }
  .main-sec .aside {
    width: 650px !important;
  }
}

@media only screen and (max-width: 1000px) {
  .main-div .sort-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-div .sort-div .filter {
    display: block !important;
    max-width: 300px;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: white;
    text-align: left;
  }
  .main-div .sort-div .sort {
    max-width: 300px !important;
  }
  .main-div .show {
    width: 300px;
  }
  .main-div .hide {
    width: 0px;
  }
  .main-div .main-sec {
    padding-left: 10%;
    padding-right: 10%;
  }
  .main-div .main-sec .card1 {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .filter {
    max-width: 200px !important;
    text-align: left;
  }
  .sort {
    max-width: 200px !important;
  }
  .show {
    width: 250px !important;
  }
}
/*# sourceMappingURL=main.css.map */