.main-div {
    background-color: white;
    .active {
        background-color: rgb(255, 157, 0);
    }
    .sidenav {
        height: 100%;
        width: 0px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: white;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        .filt {
            display: flex;
            margin-top: -35px;
            font-size: larger;
            padding: 5px 20px;
            .name {
                flex: 1;
                color: #e51c1c;

            }
            .closebtn {    
                flex: 1;
               margin-top: 5px;
               text-align: end;
               font-size: larger
            }
        }
        
      }
    }
    


@media only screen and (max-width : 1000px)
{
    .main-div{
        .show {
            width: 300px;
            transition: width 0.5s;
        }
        .hide {
            width: 0px;
        }
    }
}
